.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-wrapper{
  height: 225px;
  width: 300px;
  border: 1px solid gray;
}

.btn{
  text-transform: uppercase;
	font-family: "Work Sans";
	position: relative;
	cursor: pointer;
	background: #9e9d9d;
	border: none;
	border-radius: .4em;
}

.img-cart{
  width: 100px;
  height: 100px;
  right: 1%;
  top: 1%;
  position: absolute;
}

.cart-count{
  right: 1%;
  top: 1%;
  position: absolute;
  font-size: 25px;
  padding: 4px;
  padding-top: 5px;
  z-index: 1;
  width: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
}